<form #signUpForm="ngForm" (ngSubmit)="signUp(signUpForm)">
    
    <div class="form-group">
        <label for="email">Email</label>
        <input class="form-input" type="email" name="username" [(ngModel)]="signUpDetails.username">
    </div>

    <div class="form-group">
        <label for="email">Password</label>
        <input class="form-input" type="password" name="password" [(ngModel)]="signUpDetails.password">
    </div>

    <div class="form-group">
        <label for="email">Confirm Password</label>
        <input class="form-input" type="password" name="confirm_password" [(ngModel)]="signUpDetails.confirm_password">
    </div>

    <button type="submit">Submit</button>

</form>